body {
    background: lightskyblue;
    margin: right;
    border: 10px solid;
    width: 25%;

}
a {
    font-size: 30px;
    margin: right;
    border: 10px solid;
    border-radius: 25px;
    width: 50%;
    fill: rebeccapurple;
}
h2 {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    margin: right;
    border: 10px solid;
    width: 25%;
}
h3 {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    margin: right;
    border: 10px solid;
    width: 25%;
}
h3 {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    margin: right;
    border: 10px solid;
    width: 25%;
}
h4 {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    margin: right;
    border: 10px solid;
    width: 25%;
}
h5 {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    margin: right;
    border: 10px solid;
    width: 25%;
}

h6 {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    margin: right;
    border: 10px solid;
    width: 25%;
}

h7 {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    margin: right;
    border: 10px solid;
    width: 25%;
}